<% if false %>
<%= link_to "Home", root_path %>
<%= link_to "Explore", explore_path %> 
<% end %>

<div id="navigation">
				<!-- <a href="http://itsjerseycity.com"><img src="jersey_city_logo_final.png" alt="Jersey City Logo" height="50px", width="50"></a> -->
			<div id="logo">
				<%= link_to "itsjerseycity", root_path %>
			</div>
			<div id="nav">
			<ul>
				<li value="1"><%= link_to "Explore", explore_path %></li>
				<li value="2"><%= link_to "About", about_path %></li>
			</ul>
			</div>
		</div>

<div id="subnav">
		<ul>
			<li><a href="http://twitter.com/jerseycity" alt="Jersey City Twitter">@jerseycity</a></li>
			<li><a href="https://www.facebook.com/pages/Itsjerseycity/534065139939967?ref=hl" alt="Jersey City Facebook">facebook</a></li>
			<li><a href="http://itsjerseycity.tumblr.com/" alt="Jersey City Tumblr">tumblr</a></li>
			
		</ul>	
	</div>
